.active{
    background-color: blue;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color:#0f172a ;
    position: sticky;
    top:0;
}

nav .title{
    margin: 0.5rem 1rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: white;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li{
    list-style-type: none;
    margin:0.5rem 1rem;
}   

nav ul li a{
    text-decoration: none;
    display: block;
    color: white;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}

nav ul li a:not(.active):hover{
    background-color:#172554 ;
}

nav .menu{
    cursor: pointer;
    position: absolute;
    top:0.5rem;
    right:0.5rem;
    display: none;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width:2.25rem;
    height: 2rem;
}

nav .menu span{
    display: block;
    height: 0.4rem;
    width:100%;
    background-color: #fff;
    border-radius: 0.2rem;
}


@media (max-width:600px){
    nav{
        display: flex;
        flex-direction: column;
    }

    nav ul{
        display: none;
        flex-direction: column;
        width:100%;
    }
    nav ul li{
        width:100%;
    }
    nav ul li a{
        width:100%;
        display: flex;
        align-items:center;
        justify-content: center;
    }
    nav .menu {
        display: flex;
    }
    nav .open{
        display: flex;
    }

    nav .cross span:nth-child(3){
        display: none;
    }

    nav .cross span:first-child{
        transform: rotate(45deg) translate(12px, 10px);
    }

    nav .cross span:nth-child(2){
        transform: rotate(-45deg) translate(9px, -6px);
    }

}